<!-- <div>
    <hr>
    登录
    <form action="/passport/login" method="post">
        <label for="fname">账户</label>
        <input type="text" id="usernameField" name="username"><br><br>
        <label for="lname">密码</label>
        <input type="text" id="passwordField" name="password"><br><br>
        <input type="submit" value="Submit">
        </form>
    <hr>
  </div> -->


  {% include "layout/mobileLayout.html" %}

{% block body %}
<div id="app" class="main"></div>
<script src='https://cdn.jsdelivr.net/gh/bbb324/goalTable@{{ version }}/build/login.bundle.js'></script>
{% endblock %}
